@font-face {
    font-family: "Gilroy";
    src: url('../fonts/gilroy-regular.woff') format('woff'),
        url('../fonts/gilroy-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PoppinsRegular";
    src: url('../fonts/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PoppinsMedium";
    src: url('../fonts/Poppins-Medium.woff') format('woff'),
        url('../fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PoppinsSemiBold";
    src: url('../fonts/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/Poppins-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PoppinsBold";
    src: url('../fonts/Poppins-Bold.woff') format('woff'),
        url('../fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.primary__left {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center;  */
    /* padding: 90px 0 0 0; */
    /* height: 100vh; */
    font-family: PoppinsMedium;
    background-color: #f2c98b;
}

.about__logo {
    align-self: center;
    padding-bottom: 45px;
    max-width: 75px;
}

.about__title {
    align-self: center;
    padding-bottom: 30px;
    font-size: 28px;
    font-family: PoppinsSemiBold;
    /* font-weight: bold; */
    color: #966a2d;
}

.about__slogan {
    align-self: center;
    text-align: center;
    padding-bottom: 65px;
    font-size: 19px;
    color: #966a2d;
}

.about__image {
    max-width: 350px;
}

.primary__right {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center;  */
    /* padding-top: 87px; */
    font-family: PoppinsMedium;
}

.sign-in__title {
    padding-bottom: 8px;
    text-align: center;
    font-size: 20px;
    font-family: PoppinsSemiBold;
}

.sign-in__create-acc {
    display: flex;
    flex-direction: row;
    padding-bottom: 20gitpx;
    font-size: 14px;
    text-align: center;
}
.form-label {
    font-size: 12px;
    font-weight: bold;
}

.sign-in_input-label--error{
    color: #ff0000;
}

.sign-in__email{
    padding-bottom: 15px;
}

.sign-in__pass {
    padding-bottom: 15px;
    font-weight: bold;

}

.sign-in__pass-header {
    display: flex;
    justify-content: space-between;
}

.sign-in_input-link {
    font-size: 12px;
    text-decoration: none;
    color: #009ef7;
    transition: 1s;
}

.sign-in_input-link:hover {
    color: #ffd900;
    transform: scale(1.1);
}

.sign-in__btn {
    background-color: #f4f8fb;
    transition: 1s;
}

.sign-in__btn:hover {
    transform: scale(1.1);
}

.sign-in__btn-submit {
    background-color: #009ef7;
    border: 0;
    border-radius: 10px;
}

.sign-in__text {
    color: #8d8d8e; 
    text-align: center;
}

/* .sign-in__choise-text {
    padding: 10px 0 10px 0;
} */

.sign-in__create-link {
    padding-left: 5px;
    text-decoration: none;
    color: #009ef7;
    transition: 1s;
}

.sign-in__create-link:hover {
    color: #ffd900;
    transform: scale(1.1);

}

.sign-in__input {
    background-color: #f4f8fb;
    border: 0;
    width: 100% ;
    min-height: 50px;
    border-radius: 10px;
    
}
.sign-in__input--error {
border: 1.5px solid ;
border-color: #ff0000;
}

.sign-in__error {
    display: none;
}

.sign-in__error-active {
    display: block;
    font-size: 13px;
    font-weight: bold;
    color:  #ff0000;
}

.sign-in__btn {
    font-size: 14px;
    border-radius: 10px;

}

.sign-in__btn--fotter {
    margin-bottom: 10px;
}

.sign-in__btn-icon {
    margin-right: 3px;
    max-height: 19px;
    width: auto;
}

/* .sign-in__fotter {
    padding-top: 58px;
    text-align: center;
} */

.sign-in__link-fotter {
    padding-right: 7px;
    text-decoration: none;
    font-size: 14px;
}

@media ( max-width: 576px ) {
    .sign-in__btn {
        min-width: auto;
    }
}