@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins-Medium.woff') format('woff'),
        url('../fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins-Bold.woff') format('woff'),
        url('../fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 13px !important;
    font-weight: 400;
    font-family: Poppins, Helvetica, "sans-serif";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.primary__left {
    background-color: #f2c98b;
}

.about__logo {
    max-width: 75px;
}

.about__title {
    font-size: 28px;
    font-weight: 600;
    color: #966a2d;
}

.about__slogan {
    font-size: 19px;
    font-weight: 500;
    color: #966a2d;
}

.about__image {
    max-width: 350px;
}

.primary__right {
    width: 500px !important;
    margin: 0 auto;
}

.sign-in__title {
    font-size: 20px;
}

.sign-in__create-acc {
    font-size: 14px;
}

.form-label {
    font-size: 12px;
    font-weight: bold;
}

.sign-in_input-label--error{
    color: #ff0000;
}

.sign-in__pass {
    font-weight: bold;

}

.sign-in_input-link {
    font-size: 12px;
    text-decoration: none;
    color: #009ef7;
    transition: 1s;
}

.sign-in_input-link:hover {
    color: #ffd900;
    transform: scale(1.1);
}

.sign-in__btn {
    background-color: #f4f8fb;
    transition: 1s;
}

.sign-in__btn:hover {
    transform: scale(1.1);
}

.sign-in__btn-submit {
    background-color: #009ef7;
    border: 0;
    border-radius: 10px;
}

.sign-in__text {
    color: #8d8d8e; 
    text-align: center;
}

.sign-in__create-link {
    text-decoration: none;
    color: #009ef7;
    transition: 1s;
}

.sign-in__create-link:hover {
    color: #ffd900;
    transform: scale(1.1);

}

.sign-in__input {
    background-color: #f4f8fb;
    border: 0;
    width: 100% ;
    min-height: 50px;
    border-radius: 10px;
    
}
.sign-in__input--error {
    border: 1.5px solid ;
    border-color: #ff0000;
}

.sign-in__error {
    display: none;
}

.sign-in__error-active {
    display: block;
    font-size: 13px;
    font-weight: bold;
    color:  #ff0000;
}

.sign-in__btn {
    font-size: 14px;
    border-radius: 10px;

}

.sign-in__btn--fotter {
    margin-bottom: 10px;
}

.sign-in__btn-icon {
    margin-right: 3px;
    max-height: 19px;
    width: auto;
}

.sign-in__link-fotter {
    padding-right: 7px;
    text-decoration: none;
    font-size: 14px;
}

@media ( max-width: 576px ) {
    .sign-in__btn {
        min-width: auto;
    }
}

@media (max-width: 992px) {
    .primary__right {
        width: 700px !important;
    }
}